page-get-account {
	
	.logPage{
		height : 100%;
		width : 100%;	
		display : table;
		background:#103;
	}	
	
	.logContent{
		height : 100%;
		display : table-cell;
		vertical-align : middle;
		text-align : center;
	}
	
}
